* {
  padding: 0;
  margin: 0;
}
#button {
  margin: 10px;
  border-radius: 25px;
  /* color: brown; */
  background-color: brown;
  border: 1px solid brown;
  font-size: 25;
}
.validate-button {
  background-color: brown;
  border: 1px solid brown;
}
.validate-button:hover {
  background: rgb(125, 53, 53);
  transition: 1ms;
}

.ste-btn {
  color: white;
  background-color: brown !important;
  border-color: brown !important;
}

.ste-pill {
  border-radius: 20px !important;
}

.ste-pill.active {
  background-color: brown !important;
}

.ste-pill:not(.active) {
  color: brown !important;
}
