*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 50px;
}

/* First section */
#Banner{
    text-align: center;
    padding: 6% 10%;
}

.banner-image{
    width: 85%;
}

/* Second section */
.Wallet-connect{
    padding: 6% 13%;
    text-align: center;
}

/* Wallet logo */
#images{
    padding: 5% 10%;
    text-align: center;

}
.column1{
    /* margin: 20px; */
}

.wallet-image{
    width: 70%;
    /* padding-bottom: 4px; */
      /* border: 1px solid black;
    border-radius: 15px; */
    
    
}

  .column-1-title{
    text-decoration: none; 

    
    }

@media screen and (max-width:1000px){
    .column-1-title{
    text-align: center;
    text-decoration: none; 
    display: block;
    color: brown;
    border: 1px solid;
    margin-top: 10px;
    

    }
    .column{
        margin-bottom: 40px;
        
    }


}





/* Footer  */
#footer{
    background-color: whitesmoke;
    text-align: center;
    padding: 2% 5%;
}