* {
  margin: 0;
  padding: 0;
}

body{
 
}
.logo {
  width: 70px;
}

/* First section */
#Banner {
  text-align: center;
  padding: 6% 10%;
  background-color: black;
  
}

.banner-image {
  width: 85%;
  
}


.Heading {
  margin-bottom: 7px;
  color: #3AB0FF;
 
}

.sub-heading{
  color: #3AB0FF;
  font-size: 15px;
}


.Wallet-connect {
  padding: 6% 18%;
  text-align: center;
  background-color: black;
}

/* Wallet logo */
#images {
  padding: 5% 10%;
  text-align: center;
  background-color: black;
  
}

.wallet-image {
  width: 80%;
  /* padding-bottom: 4px; */
  /* border: 1px solid black;
    border-radius: 15px; */
    box-shadow: 1px 1px 2px white;
    padding: 3%;
}

.column {
  margin-bottom: 25px;
}
.column-1-title {
  text-decoration: none;
}

#footer{
  background-color: black;
}

@media screen and (max-width: 1000px) {
  .column-1-title {
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding:4px ;
    margin-top: 10px;
  }
  .column {
    margin-bottom: 40px;
  }
  .f-mdd-12 {
    font-size: 12px;
  }
  .f-mdd-14 {
    font-size: 14px;
  }
}

/* Footer  */
#footer {
  background-color: whitesmoke;
  padding: 4% 2%;
}
#footer p{
  text-align: center;
  color: black;
}

.ste-input {
  border: 2px solid #aaa !important;
  border-radius: 10px !important;
}

.ste-input:focus, .ste-btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(165, 42, 42, 0.25) !important;
}

[x-cloak] { display: none !important; }